In [6]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///spider_data/database/singer/singer.sqlite")
print(db.dialect)
print(db.get_usable_table_names())
db.get_table_info(["singer"])

sqlite
['singer', 'song']

'\nCREATE TABLE singer (\n\t"Singer_ID" INTEGER, \n\t"Name" TEXT, \n\t"Birth_Year" REAL, \n\t"Net_Worth_Millions" REAL, \n\t"Citizenship" TEXT, \n\tPRIMARY KEY ("Singer_ID")\n)\n\n/*\n3 rows from singer table:\nSinger_ID\tName\tBirth_Year\tNet_Worth_Millions\tCitizenship\n1\tLiliane Bettencourt\t1944.0\t30.0\tFrance\n2\tChristy Walton\t1948.0\t28.8\tUnited States\n3\tAlice Walton\t1949.0\t26.3\tUnited States\n*/'

In [8]:
import pandas as pd


def query(db: SQLDatabase, query: str):
    df = pd.read_sql(query, db._engine)
    return df


query(
    db,
    'SELECT "Net Worth Millions" FROM singer',
)

  "Net Worth Millions"
0   Net Worth Millions
1   Net Worth Millions
2   Net Worth Millions
3   Net Worth Millions
4   Net Worth Millions
5   Net Worth Millions
6   Net Worth Millions
7   Net Worth Millions