In [5]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri(
    "sqlite:///spider_data/database/dog_kennels/dog_kennels.sqlite"
)
print(db.dialect)
print(db.get_usable_table_names())

sqlite
['Breeds', 'Charges', 'Dogs', 'Owners', 'Professionals', 'Sizes', 'Treatment_Types', 'Treatments']

In [6]:
import pandas as pd


def query(db: SQLDatabase, query: str):
    df = pd.read_sql(query, db._engine)
    return df


query(
    db,
    "SELECT T2.last_name FROM Dogs AS T1 INNER JOIN Owners AS T2 ON T1.owner_id = T2.owner_id ORDER BY T1.date_of_birth DESC LIMIT 1",
)

  last_name
0     Mertz