In [28]:
from evaluation import evaluate_sql
import pandas as pd


def run_evaluate(model: str, dataset: str):
    print("Evaluating model: ", model, "on dataset: ", dataset)
    result = evaluate_sql(
        solution_file=f"spider_data/{dataset}_gold.sql",
        answer_file=f"inference_data/{model}_{dataset}_inf.txt",
        db_root=(
            "spider_data/database" if dataset == "dev" else "spider_data/test_database"
        ),
    )
    result.details_df.to_csv(f"evaluate_data/{model}_{dataset}_eval.csv", index=False)
    return {
        "model": model,
        "dataset": dataset,
        "total": result.summary_data["total"],
        "correct": result.summary_data["correct"],
        "execution_accuracy": result.summary_data["execution_accuracy"],
    }

In [29]:
eval_list = [
    {"model": "llama32_3b_base", "dataset": "dev"},
    {"model": "llama32_3b_w_ex", "dataset": "dev"},
    {"model": "llama32_3b_w_re", "dataset": "dev"},
    {"model": "llama32_3b_all", "dataset": "dev"},
    {"model": "xiyansql_7b_16_base", "dataset": "dev"},
    {"model": "xiyansql_7b_16_w_ex", "dataset": "dev"},
    {"model": "xiyansql_7b_16_w_re", "dataset": "dev"},
    {"model": "xiyansql_7b_16_all", "dataset": "dev"},
    # {"model": "llama32_3b_all", "dataset": "test"},
    # {"model": "xiyansql_7b_16_all", "dataset": "test"},
    # {"model": "xiyansql_7b_8_all", "dataset": "test"},
]

data = []
for config in eval_list:
    res = run_evaluate(**config)
    data.append(res)

Evaluating model:  llama32_3b_base on dataset:  dev
Evaluating model:  llama32_3b_w_ex on dataset:  dev
Evaluating model:  llama32_3b_w_re on dataset:  dev
Evaluating model:  llama32_3b_all on dataset:  dev
Evaluating model:  xiyansql_7b_16_base on dataset:  dev
Evaluating model:  xiyansql_7b_16_w_ex on dataset:  dev
Evaluating model:  xiyansql_7b_16_w_re on dataset:  dev
Evaluating model:  xiyansql_7b_16_all on dataset:  dev
Evaluating model:  llama32_3b_all on dataset:  test

FileNotFoundError: [Errno 2] No such file or directory: 'inference_data/llama32_3b_all_test_inf.txt'

In [30]:
df = pd.DataFrame(data)
df

                 model dataset  total  correct  execution_accuracy
0      llama32_3b_base     dev   1034      656               63.44
1      llama32_3b_w_ex     dev   1034      655               63.35
2      llama32_3b_w_re     dev   1034      668               64.60
3       llama32_3b_all     dev   1034      678               65.57
4  xiyansql_7b_16_base     dev   1034      920               88.97
5  xiyansql_7b_16_w_ex     dev   1034      935               90.43
6  xiyansql_7b_16_w_re     dev   1034      922               89.17
7   xiyansql_7b_16_all     dev   1034      939               90.81

In [27]:
# import sqlglot
# import sqlglot.expressions
# from sqlglot.expressions import Expression, Column


# tree = sqlglot.parse_one(
#     "SELECT a, a as a1, A.a,  max(a), max(a) as max_a, count(*), count(*) as count_a FROM A"
# )
# for expr in tree.expressions[1:3]:
#     if isinstance(expr, Column):
#         print(expr.to_dot())
#     if isinstance(expr, sqlglot.expressions.Alias):
#         print(expr.unalias().to_dot())