In [24]:
from evaluation import evaluate_sql
import pandas as pd


def run_evaluate(model: str, dataset: str):
    print("Evaluating model: ", model, "on dataset: ", dataset)
    result = evaluate_sql(
        solution_file=f"spider_data/{dataset}_gold.sql",
        answer_file=f"inference_data/{model}_{dataset}_inf.txt",
        db_root=(
            "spider_data/database" if dataset == "dev" else "spider_data/test_database"
        ),
    )
    result.details_df.to_csv(f"evaluate_data/{model}_{dataset}_eval.csv", index=False)
    return {
        "model": model,
        "dataset": dataset,
        "total": result.summary_data["total"],
        "correct": result.summary_data["correct"],
        "execution_accuracy": result.summary_data["execution_accuracy"],
    }

In [ ]:
eval_list = [
    {"model": "llama32_3b_wo_re", "dataset": "dev"},
    {"model": "llama32_3b_wo_ex", "dataset": "dev"},
    {"model": "llama32_3b_w_ex", "dataset": "dev"},
    {"model": "xiyansql_7b_16_en_wo_re", "dataset": "dev"},
    {"model": "xiyansql_7b_16_en_wo_ex", "dataset": "dev"},
    {"model": "xiyansql_7b_16_en_w_ex", "dataset": "dev"},
    {"model": "xiyansql_7b_16_en_w_ex", "dataset": "test"},
    {"model": "xiyansql_7b_8_en_w_ex", "dataset": "test"},
]

data = []
for config in eval_list:
    res = run_evaluate(**config)
    data.append(res)

Evaluating model:  xiyansql_7b_16_en_w_ex on dataset:  dev
Evaluating model:  xiyansql_7b_16_en_w_ex on dataset:  test

In [26]:
df = pd.DataFrame(data)
df

                    model dataset  total  correct  execution_accuracy
0  xiyansql_7b_16_en_w_ex     dev   1034      937               90.62
1  xiyansql_7b_16_en_w_ex    test   2147     1773               82.58

In [27]:
# import sqlglot
# import sqlglot.expressions
# from sqlglot.expressions import Expression, Column


# tree = sqlglot.parse_one(
#     "SELECT a, a as a1, A.a,  max(a), max(a) as max_a, count(*), count(*) as count_a FROM A"
# )
# for expr in tree.expressions[1:3]:
#     if isinstance(expr, Column):
#         print(expr.to_dot())
#     if isinstance(expr, sqlglot.expressions.Alias):
#         print(expr.unalias().to_dot())