In [10]:
database_folder = "spider_data/test_database"
query_file_path = "spider_data/test.json"

schema_output_path = "prepare_data/test_schemas.csv"
final_result_path = "prepare_data/test_input.csv"

In [11]:
import os
import sys

sys.path.append(os.getcwd() + "/M-Schema")

from schema_engine import SchemaEngine

### Load full database schemas and tables

In [12]:
import os
import sqlite3
import pandas as pd
from sqlalchemy import create_engine


def gather_schemas(root_dir: str) -> pd.DataFrame:
    """
    Walk root_dir for .sqlite files. For each, connect and extract
    each table's CREATE statement. Returns a DataFrame with columns:
      - db_id : filename without .sqlite
      - table : table name
      - schema: CREATE TABLE ... statement
    """
    records = []

    for dirpath, _, filenames in os.walk(root_dir):
        for fn in filenames:
            if fn.lower().endswith(".sqlite"):
                path = os.path.join(dirpath, fn)
                db_id = os.path.splitext(fn)[0]
                # connect to sqlite
                conn = sqlite3.connect(path)
                try:
                    cursor = conn.cursor()
                    # get list of tables
                    cursor.execute(
                        "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';"
                    )
                    tables = [row[0] for row in cursor.fetchall()]

                    for table in tables:
                        # get CREATE statement
                        cursor.execute(
                            "SELECT sql FROM sqlite_master WHERE type='table' AND name=?;",
                            (table,),
                        )
                        row = cursor.fetchone()
                        schema = row[0] if row and row[0] else None
                        cursor.execute(f"SELECT * FROM {table} LIMIT 3;")
                        ex_rows = cursor.fetchall()
                        ex_rows_str = f"Table: {table}\n" + "\n".join(
                            [str(row) for row in ex_rows]
                        )
                        schema_engine = SchemaEngine(
                            engine=create_engine(f"sqlite:///{path}"), db_name=db_id
                        )
                        mschema = schema_engine.mschema
                        mschema_str = mschema.to_mschema()
                        records.append(
                            {
                                "db_id": db_id,
                                "table": table,
                                "schema": schema,
                                "example_rows": ex_rows_str,
                                "mschema": mschema_str,
                            }
                        )
                finally:
                    conn.close()

    return pd.DataFrame(records)

In [13]:
schema_df = gather_schemas(database_folder)
schema_df

/Users/lanch/miniconda3/envs/handsonllm/lib/python3.11/site-packages/llama_index/core/utilities/sql_wrapper.py:112: SAWarning: WARNING: SQL-parsed foreign key constraint '('Event_ID', 'Events', 'Event_ID')' could not be located in PRAGMA foreign_keys for table Assets_in_Events
  self._metadata.reflect(
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:69: SAWarning: WARNING: SQL-parsed foreign key constraint '('Event_ID', 'Events', 'Event_ID')' could not be located in PRAGMA foreign_keys for table Assets_in_Events
  return self._inspector.get_foreign_keys(table_name, self._tables_schemas[table_name])
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:75: SAWarning: WARNING: SQL-parsed foreign key constraint '('Event_ID', 'Events', 'Event_ID')' could not be located in PRAGMA foreign_keys for table Assets_in_Events
  table = Table(table_name, self.metadata_obj, autoload_with=self._engine, schema=self._tables_schemas[table_name])
/Users/lanch/miniconda3/envs/handsonllm/lib/python3.11/site-packages/llama_index/core/utilities/sql_wrapper.py:112: SAWarning: Could not instantiate type <class 'sqlalchemy.sql.sqltypes.INTEGER'> with reflected arguments ['11']; using no arguments.
  self._metadata.reflect(
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:54: SAWarning: Could not instantiate type <class 'sqlalchemy.sql.sqltypes.INTEGER'> with reflected arguments ['11']; using no arguments.
  return self._inspector.get_pk_constraint(table_name, self._tables_schemas[table_name] )['constrained_columns']
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:75: SAWarning: Could not instantiate type <class 'sqlalchemy.sql.sqltypes.INTEGER'> with reflected arguments ['11']; using no arguments.
  table = Table(table_name, self.metadata_obj, autoload_with=self._engine, schema=self._tables_schemas[table_name])
/Users/lanch/miniconda3/envs/handsonllm/lib/python3.11/site-packages/llama_index/core/utilities/sql_wrapper.py:112: SAWarning: WARNING: SQL-parsed foreign key constraint '('Cust_ID', 'customer', 'Cust_ID')' could not be located in PRAGMA foreign_keys for table loan
  self._metadata.reflect(
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:69: SAWarning: WARNING: SQL-parsed foreign key constraint '('Cust_ID', 'customer', 'Cust_ID')' could not be located in PRAGMA foreign_keys for table loan
  return self._inspector.get_foreign_keys(table_name, self._tables_schemas[table_name])
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:75: SAWarning: WARNING: SQL-parsed foreign key constraint '('Cust_ID', 'customer', 'Cust_ID')' could not be located in PRAGMA foreign_keys for table loan
  table = Table(table_name, self.metadata_obj, autoload_with=self._engine, schema=self._tables_schemas[table_name])
/Users/lanch/miniconda3/envs/handsonllm/lib/python3.11/site-packages/llama_index/core/utilities/sql_wrapper.py:112: SAWarning: WARNING: SQL-parsed foreign key constraint '('store_id', 'store', 'store_id')' could not be located in PRAGMA foreign_keys for table staff
  self._metadata.reflect(
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:75: SAWarning: WARNING: SQL-parsed foreign key constraint '('store_id', 'store', 'store_id')' could not be located in PRAGMA foreign_keys for table staff
  table = Table(table_name, self.metadata_obj, autoload_with=self._engine, schema=self._tables_schemas[table_name])
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:69: SAWarning: WARNING: SQL-parsed foreign key constraint '('store_id', 'store', 'store_id')' could not be located in PRAGMA foreign_keys for table staff
  return self._inspector.get_foreign_keys(table_name, self._tables_schemas[table_name])
/Users/lanch/miniconda3/envs/handsonllm/lib/python3.11/site-packages/llama_index/core/utilities/sql_wrapper.py:112: SAWarning: Could not instantiate type <class 'sqlalchemy.sql.sqltypes.BIGINT'> with reflected arguments ['20']; using no arguments.
  self._metadata.reflect(
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:54: SAWarning: Could not instantiate type <class 'sqlalchemy.sql.sqltypes.BIGINT'> with reflected arguments ['20']; using no arguments.
  return self._inspector.get_pk_constraint(table_name, self._tables_schemas[table_name] )['constrained_columns']
/Users/lanch/Desktop/Code/tcb/handsonllm/spider_test/M-Schema/schema_engine.py:75: SAWarning: Could not instantiate type <class 'sqlalchemy.sql.sqltypes.BIGINT'> with reflected arguments ['20']; using no arguments.
  table = Table(table_name, self.metadata_obj, autoload_with=self._engine, schema=self._tables_schemas[table_name])

,db_id,table,schema,example_rows,mschema
0,browser_web,Web_client_accelerator,"CREATE TABLE ""Web_client_accelerator"" (\n""id"" ...","Table: Web_client_accelerator\n(1, 'CACHEbox',...",【DB_ID】 browser_web\n【Schema】\n# Table: main.W...
1,browser_web,browser,"CREATE TABLE ""browser"" (\n""id"" int,\n""name"" te...","Table: browser\n(1, 'Internet Explorer', 28.96...",【DB_ID】 browser_web\n【Schema】\n# Table: main.W...
2,browser_web,accelerator_compatible_browser,"CREATE TABLE ""accelerator_compatible_browser"" ...","Table: accelerator_compatible_browser\n(1, 1, ...",【DB_ID】 browser_web\n【Schema】\n# Table: main.W...
3,musical,musical,"CREATE TABLE ""musical"" (\n""Musical_ID"" int,\n""...","Table: musical\n(1, 'The Phantom of the Opera'...",【DB_ID】 musical\n【Schema】\n# Table: main.actor...
4,musical,actor,"CREATE TABLE ""actor"" (\n""Actor_ID"" int,\n""Name...","Table: actor\n(1, 'Ray Meagher', 1, 'Alf Stewa...",【DB_ID】 musical\n【Schema】\n# Table: main.actor...
...,...,...,...,...,...
1048,body_builder,people,"CREATE TABLE ""people"" (\n""People_ID"" int,\n""Na...","Table: people\n(1, 'Jack Campbell', 182.0, 80....",【DB_ID】 body_builder\n【Schema】\n# Table: main....
1049,school_player,school,"CREATE TABLE ""school"" (\n""School_ID"" int,\n""Sc...","Table: school\n(1, ""St Aloysius' College"", 'Mi...",【DB_ID】 school_player\n【Schema】\n# Table: main...
1050,school_player,school_details,"CREATE TABLE ""school_details"" (\n""School_ID"" i...","Table: school_details\n(1, 'Tigers', 'Blue and...",【DB_ID】 school_player\n【Schema】\n# Table: main...
1051,school_player,school_performance,"CREATE TABLE ""school_performance"" (\n""School_I...","Table: school_performance\n(1, '1987-88', 'Yan...",【DB_ID】 school_player\n【Schema】\n# Table: main...
1052,school_player,player,"CREATE TABLE ""player"" (\n""Player_ID"" int,\n""Pl...","Table: player\n(1, 'Timothy Beckham', 'Tampa B...",【DB_ID】 school_player\n【Schema】\n# Table: main...

In [14]:
schema_df.to_csv(schema_output_path)

In [15]:
schemas_map = {}
example_rows_map = {}
mschemas_map = {}
for _, row in schema_df.iterrows():
    schemas_map.setdefault(row.db_id, {})[row.table.lower()] = row.schema
    example_rows_map.setdefault(row.db_id, {})[row.table.lower()] = row.example_rows
    mschemas_map.setdefault(row.db_id, {})[row.table.lower()] = row.mschema

### Parse queries

In [16]:
import re
from typing import List, Set

import sqlglot
from sqlglot import exp


def extract_tables(sql: str) -> List[str]:
    """
    Parse the given SQL and return a sorted list of all
    real table names referenced (joins, subqueries, CTE bodies, etc.),
    but *exclude* any CTE aliases.
    """
    # 1) Pull out the CTE block (if any) and collect its aliases
    cte_names: Set[str] = set()
    match = re.search(
        r"WITH\s+(.*?)\)\s*SELECT",
        sql,
        flags=re.IGNORECASE | re.DOTALL,
    )
    if match:
        cte_block = match.group(1)
        # find all "<name> AS (" inside that block
        found = re.findall(
            r"([A-Za-z_][A-Za-z0-9_]*)\s+AS\b", cte_block, flags=re.IGNORECASE
        )
        cte_names = set(found)

    # 2) Parse into an AST
    try:
        tree = sqlglot.parse_one(sql)
    except sqlglot.errors.ParseError as e:
        raise ValueError(f"Failed to parse SQL: {e}")

    # 3) Walk every Table node and collect its .this (the table identifier),
    #    unless it’s one of the CTE names we just saw.
    tables: Set[str] = set()
    for tbl in tree.find_all(exp.Table):
        name = tbl.name  # e.g. 'sales', 'customers', 'archived_sales'
        if name not in cte_names:
            tables.add(name)

    return sorted(tables)


def lookup_schemas(row):
    db = row.db_id
    tables = row.tables  # list of table names
    db_map = schemas_map.get(db, {})
    # collect schema for each table, skip if not found
    return "\n".join(
        [db_map.get(tbl.lower(), f"<no schema for {tbl}>") for tbl in tables]
    )


def lookup_example_rows(row):
    db = row.db_id
    tables = row.tables
    db_map = example_rows_map.get(db, {})
    return "\n".join(
        [db_map.get(tbl.lower(), f"<no example rows for {tbl}>") for tbl in tables]
    )


def lookup_mschemas(row):
    db = row.db_id
    tables = row.tables
    db_map = mschemas_map.get(db, {})
    return "\n".join(
        [db_map.get(tbl.lower(), f"<no mschema for {tbl}>") for tbl in tables]
    )

In [17]:
import pandas as pd

df = pd.read_json(query_file_path)
df = (
    df.assign(
        question_number=df.index,
        tables=lambda df_: df_["query"].apply(extract_tables),
    )
    .assign(
        schemas=lambda df_: df_.apply(lookup_schemas, axis=1),
        example_rows=lambda df_: df_.apply(lookup_example_rows, axis=1),
        mschemas=lambda df_: df_.apply(lookup_mschemas, axis=1),
    )
    .loc[
        :,
        [
            "question_number",
            "question",
            "db_id",
            "tables",
            "schemas",
            "example_rows",
            "mschemas",
        ],
    ]
)
df

,question_number,question,db_id,tables,schemas,example_rows,mschemas
0,0,How many clubs are there?,soccer_3,[club],"CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name"" ...","Table: club\n(1, 'Arsenal', 'Arsène Wenger', '...",【DB_ID】 soccer_3\n【Schema】\n# Table: main.club...
1,1,Count the number of clubs.,soccer_3,[club],"CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name"" ...","Table: club\n(1, 'Arsenal', 'Arsène Wenger', '...",【DB_ID】 soccer_3\n【Schema】\n# Table: main.club...
2,2,List the name of clubs in ascending alphabetic...,soccer_3,[club],"CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name"" ...","Table: club\n(1, 'Arsenal', 'Arsène Wenger', '...",【DB_ID】 soccer_3\n【Schema】\n# Table: main.club...
3,3,"What are the names of clubs, ordered alphabeti...",soccer_3,[club],"CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name"" ...","Table: club\n(1, 'Arsenal', 'Arsène Wenger', '...",【DB_ID】 soccer_3\n【Schema】\n# Table: main.club...
4,4,What are the managers and captains of clubs?,soccer_3,[club],"CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name"" ...","Table: club\n(1, 'Arsenal', 'Arsène Wenger', '...",【DB_ID】 soccer_3\n【Schema】\n# Table: main.club...
...,...,...,...,...,...,...,...
2142,2142,Return the ids and details of staff who have a...,advertising_agencies,[staff],CREATE TABLE `Staff` (\n`staff_id` INTEGER PRI...,"Table: Staff\n(1, 6, 'Rubie')\n(2, 7, 'Sherida...",【DB_ID】 advertising_agencies\n【Schema】\n# Tabl...
2143,2143,"What are the id, sic code and agency id of the...",advertising_agencies,"[clients, invoices, meetings]",CREATE TABLE `Clients` (\n`client_id` INTEGER ...,"Table: Clients\n(1, 8, 'Mutual', 'Alta')\n(2, ...",【DB_ID】 advertising_agencies\n【Schema】\n# Tabl...
2144,2144,"Return the ids, sic codes, and agency ids of c...",advertising_agencies,"[clients, invoices, meetings]",CREATE TABLE `Clients` (\n`client_id` INTEGER ...,"Table: Clients\n(1, 8, 'Mutual', 'Alta')\n(2, ...",【DB_ID】 advertising_agencies\n【Schema】\n# Tabl...
2145,2145,"List the start time, end time of each meeting,...",advertising_agencies,"[clients, meetings, staff, staff_in_meetings]",CREATE TABLE `Clients` (\n`client_id` INTEGER ...,"Table: Clients\n(1, 8, 'Mutual', 'Alta')\n(2, ...",【DB_ID】 advertising_agencies\n【Schema】\n# Tabl...
2146,2146,What are the start and end times of each meeti...,advertising_agencies,"[clients, meetings, staff, staff_in_meetings]",CREATE TABLE `Clients` (\n`client_id` INTEGER ...,"Table: Clients\n(1, 8, 'Mutual', 'Alta')\n(2, ...",【DB_ID】 advertising_agencies\n【Schema】\n# Tabl...

In [18]:
df.to_csv(final_result_path, index=False)