In [26]:
database_folder = "spider_data/test_database"
query_file_path = "spider_data/test.json"

schema_output_path = "prepare_data/test_schemas.csv"
final_result_path = "prepare_data/test_input.csv"

### Load full database schemas and tables

In [27]:
import os
import sqlite3
import pandas as pd


def gather_schemas(root_dir: str) -> pd.DataFrame:
    """
    Walk root_dir for .sqlite files. For each, connect and extract
    each table's CREATE statement. Returns a DataFrame with columns:
      - db_id : filename without .sqlite
      - table : table name
      - schema: CREATE TABLE ... statement
    """
    records = []

    for dirpath, _, filenames in os.walk(root_dir):
        for fn in filenames:
            if fn.lower().endswith(".sqlite"):
                path = os.path.join(dirpath, fn)
                db_id = os.path.splitext(fn)[0]
                # connect to sqlite
                conn = sqlite3.connect(path)
                try:
                    cursor = conn.cursor()
                    # get list of tables
                    cursor.execute(
                        "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';"
                    )
                    tables = [row[0] for row in cursor.fetchall()]

                    for table in tables:
                        # get CREATE statement
                        cursor.execute(
                            "SELECT sql FROM sqlite_master WHERE type='table' AND name=?;",
                            (table,),
                        )
                        row = cursor.fetchone()
                        schema = row[0] if row and row[0] else ""
                        records.append(
                            {"db_id": db_id, "table": table, "schema": schema}
                        )
                finally:
                    conn.close()

    return pd.DataFrame(records, columns=["db_id", "table", "schema"])

In [28]:
schema_df = gather_schemas(database_folder)
schema_df

,db_id,table,schema
0,browser_web,Web_client_accelerator,"CREATE TABLE ""Web_client_accelerator"" (\n""id"" ..."
1,browser_web,browser,"CREATE TABLE ""browser"" (\n""id"" int,\n""name"" te..."
2,browser_web,accelerator_compatible_browser,"CREATE TABLE ""accelerator_compatible_browser"" ..."
3,musical,musical,"CREATE TABLE ""musical"" (\n""Musical_ID"" int,\n""..."
4,musical,actor,"CREATE TABLE ""actor"" (\n""Actor_ID"" int,\n""Name..."
...,...,...,...
1048,body_builder,people,"CREATE TABLE ""people"" (\n""People_ID"" int,\n""Na..."
1049,school_player,school,"CREATE TABLE ""school"" (\n""School_ID"" int,\n""Sc..."
1050,school_player,school_details,"CREATE TABLE ""school_details"" (\n""School_ID"" i..."
1051,school_player,school_performance,"CREATE TABLE ""school_performance"" (\n""School_I..."
1052,school_player,player,"CREATE TABLE ""player"" (\n""Player_ID"" int,\n""Pl..."

In [29]:
schema_df.to_csv(schema_output_path)

In [30]:
schemas_map = {}
for _, row in schema_df.iterrows():
    schemas_map.setdefault(row.db_id, {})[row.table.lower()] = row.schema
schemas_map

{'browser_web': {'web_client_accelerator': 'CREATE TABLE "Web_client_accelerator" (\n"id" int,\n"name" text,\n"Operating_system" text,\n"Client" text,\n"Connection" text,\nprimary key("id")\n)',
  'browser': 'CREATE TABLE "browser" (\n"id" int,\n"name" text,\n"market_share" real,\nprimary key("id")\n)',
  'accelerator_compatible_browser': 'CREATE TABLE "accelerator_compatible_browser" (\n"accelerator_id" int,\n"browser_id" int,\n"compatible_since_year" int,\nprimary key("accelerator_id", "browser_id"),\nforeign key ("accelerator_id") references `Web_client_accelerator`("id"),\nforeign key ("browser_id") references `browser`("id")\n)'},
 'musical': {'musical': 'CREATE TABLE "musical" (\n"Musical_ID" int,\n"Name" text,\n"Year" int,\n"Award" text,\n"Category" text,\n"Nominee" text,\n"Result" text,\nPRIMARY KEY ("Musical_ID")\n)',
  'actor': 'CREATE TABLE "actor" (\n"Actor_ID" int,\n"Name" text,\n"Musical_ID" int,\n"Character" text,\n"Duration" text,\n"age" int,\nPRIMARY KEY ("Actor_ID"),\nFOREIGN KEY ("Musical_ID") REFERENCES "actor"("Actor_ID")\n)'},
 'country_language': {'languages': 'CREATE TABLE "languages" (\n"id" integer,\n"name" text,\nPRIMARY KEY ("id")\n)',
  'countries': 'CREATE TABLE "countries" (\n"id" integer,\n"name" text,\n"overall_score" real,\n"justice_score" real,\n"health_score" real,\n"education_score" real,\n"economics_score" real,\n"politics_score" real,\nPRIMARY KEY ("id")\n)',
  'official_languages': 'CREATE TABLE "official_languages" (\n"language_id" integer,\n"country_id" integer,\nPRIMARY KEY ("language_id", "country_id"),\nFOREIGN KEY ("language_id") REFERENCES "languages"("id"),\nFOREIGN KEY ("country_id") REFERENCES "countries"("id")\n)'},
 'farm': {'city': 'CREATE TABLE "city" (\n"City_ID" int,\n"Official_Name" text,\n"Status" text,\n"Area_km_2" real,\n"Population" real,\n"Census_Ranking" text,\nPRIMARY KEY ("City_ID")\n)',
  'farm': 'CREATE TABLE "farm" (\n"Farm_ID" int,\n"Year" int,\n"Total_Horses" real,\n"Working_Horses" real,\n"Total_Cattle" real,\n"Oxen" real,\n"Bulls" real,\n"Cows" real,\n"Pigs" real,\n"Sheep_and_Goats" real,\nPRIMARY KEY ("Farm_ID")\n)',
  'farm_competition': 'CREATE TABLE "farm_competition" (\n"Competition_ID" int,\n"Year" int,\n"Theme" text,\n"Host_city_ID" int,\n"Hosts" text,\nPRIMARY KEY ("Competition_ID"),\nFOREIGN KEY (`Host_city_ID`) REFERENCES `city`(`City_ID`)\n)',
  'competition_record': 'CREATE TABLE "competition_record" (\n"Competition_ID" int,\n"Farm_ID" int,\n"Rank" int,\nPRIMARY KEY ("Competition_ID","Farm_ID"),\nFOREIGN KEY (`Competition_ID`) REFERENCES `farm_competition`(`Competition_ID`),\nFOREIGN KEY (`Farm_ID`) REFERENCES `farm`(`Farm_ID`)\n)'},
 'voter_1': {'area_code_state': 'CREATE TABLE `AREA_CODE_STATE` (\n  `area_code` integer NOT NULL\n,  `state` varchar(2) NOT NULL\n,  PRIMARY KEY (`area_code`)\n)',
  'contestants': 'CREATE TABLE `CONTESTANTS` (\n  `contestant_number` integer\n,  `contestant_name` varchar(50) NOT NULL\n,  PRIMARY KEY (`contestant_number`)\n)',
  'votes': 'CREATE TABLE `VOTES` (\n  `vote_id` integer NOT NULL PRIMARY KEY\n,  `phone_number` integer NOT NULL\n,  `state` varchar(2) NOT NULL\n,  `contestant_number` integer NOT NULL\n,  `created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP\n, \tFOREIGN KEY (`state`) REFERENCES `AREA_CODE_STATE`(`state`)\n, \tFOREIGN KEY (`contestant_number`) REFERENCES `CONTESTANTS`(`contestant_number`)\n)'},
 'game_injury': {'stadium': 'CREATE TABLE "stadium" (\n"id" int,\n"name" text,\n"Home_Games" int,\n"Average_Attendance" real,\n"Total_Attendance" real,\n"Capacity_Percentage" real,\nprimary key ("id")\n)',
  'game': 'CREATE TABLE "game" (\n"stadium_id" int,\n"id" int,\n"Season" int,\n"Date" text,\n"Home_team" text,\n"Away_team" text,\n"Score" text,\n"Competition" text,\nprimary key ("id"),\nforeign key ("stadium_id") references `stadium`("id")\n)',
  'injury_accident': 'CREATE TABLE "injury_accident" (\n"game_id" int,\n"id" int,\n"Player" text,\n"Injury" text,\n"Number_of_matches" text,\n"Source" text,\nprimary key ("id"),\nforeign key ("game_id") references `game`("id")\n)'},
 'hospital_1': {'physician': 'CREATE TABLE Physician (\n  EmployeeID INTEGER NOT NULL,\n  Name VARCHAR(30) NOT NULL,\n  Position VARCHAR(30) NOT NULL,\n  SSN INTEGER NOT NULL,\n  CONSTRAINT pk_physician PRIMARY KEY(EmployeeID)\n)',
  'department': 'CREATE TABLE Department (\n  DepartmentID INTEGER NOT NULL,\n  Name VARCHAR(30) NOT NULL,\n  Head INTEGER NOT NULL,\n  CONSTRAINT pk_Department PRIMARY KEY(DepartmentID),\n  CONSTRAINT fk_Department_Physician_EmployeeID FOREIGN KEY(Head) REFERENCES Physician(EmployeeID)\n)',
  'affiliated_with': 'CREATE TABLE Affiliated_With (\n  Physician INTEGER NOT NULL,\n  Department INTEGER NOT NULL,\n  PrimaryAffiliation BOOLEAN NOT NULL,\n  CONSTRAINT fk_Affiliated_With_Physician_EmployeeID FOREIGN KEY(Physician) REFERENCES Physician(EmployeeID),\n  CONSTRAINT fk_Affiliated_With_Department_DepartmentID FOREIGN KEY(Department) REFERENCES Department(DepartmentID),\n  PRIMARY KEY(Physician, Department)\n)',
  'procedures': 'CREATE TABLE Procedures (\n  Code INTEGER PRIMARY KEY NOT NULL,\n  Name VARCHAR(30) NOT NULL,\n  Cost REAL NOT NULL\n)',
  'trained_in': 'CREATE TABLE Trained_In (\n  Physician INTEGER NOT NULL,\n  Treatment INTEGER NOT NULL,\n  CertificationDate DATETIME NOT NULL,\n  CertificationExpires DATETIME NOT NULL,\n  CONSTRAINT fk_Trained_In_Physician_EmployeeID FOREIGN KEY(Physician) REFERENCES Physician(EmployeeID),\n  CONSTRAINT fk_Trained_In_Procedures_Code FOREIGN KEY(Treatment) REFERENCES Procedures(Code),\n  PRIMARY KEY(Physician, Treatment)\n)',
  'patient': 'CREATE TABLE Patient (\n  SSN INTEGER PRIMARY KEY NOT NULL,\n  Name VARCHAR(30) NOT NULL,\n  Address VARCHAR(30) NOT NULL,\n  Phone VARCHAR(30) NOT NULL,\n  InsuranceID INTEGER NOT NULL,\n  PCP INTEGER NOT NULL,\n  CONSTRAINT fk_Patient_Physician_EmployeeID FOREIGN KEY(PCP) REFERENCES Physician(EmployeeID)\n)',
  'nurse': 'CREATE TABLE Nurse (\n  EmployeeID INTEGER PRIMARY KEY NOT NULL,\n  Name VARCHAR(30) NOT NULL,\n  Position VARCHAR(30) NOT NULL,\n  Registered BOOLEAN NOT NULL,\n  SSN INTEGER NOT NULL\n)',
  'appointment': 'CREATE TABLE Appointment (\n  AppointmentID INTEGER PRIMARY KEY NOT NULL,\n  Patient INTEGER NOT NULL,    \n  PrepNurse INTEGER,\n  Physician INTEGER NOT NULL,\n  Start DATETIME NOT NULL,\n  End DATETIME NOT NULL,\n  ExaminationRoom TEXT NOT NULL,\n  CONSTRAINT fk_Appointment_Patient_SSN FOREIGN KEY(Patient) REFERENCES Patient(SSN),\n  CONSTRAINT fk_Appointment_Nurse_EmployeeID FOREIGN KEY(PrepNurse) REFERENCES Nurse(EmployeeID),\n  CONSTRAINT fk_Appointment_Physician_EmployeeID FOREIGN KEY(Physician) REFERENCES Physician(EmployeeID)\n)',
  'medication': 'CREATE TABLE Medication (\n  Code INTEGER PRIMARY KEY NOT NULL,\n  Name VARCHAR(30) NOT NULL,\n  Brand VARCHAR(30) NOT NULL,\n  Description VARCHAR(30) NOT NULL\n)',
  'prescribes': 'CREATE TABLE Prescribes (\n  Physician INTEGER NOT NULL,\n  Patient INTEGER NOT NULL, \n  Medication INTEGER NOT NULL, \n  Date DATETIME NOT NULL,\n  Appointment INTEGER,  \n  Dose VARCHAR(30) NOT NULL,\n  PRIMARY KEY(Physician, Patient, Medication, Date),\n  CONSTRAINT fk_Prescribes_Physician_EmployeeID FOREIGN KEY(Physician) REFERENCES Physician(EmployeeID),\n  CONSTRAINT fk_Prescribes_Patient_SSN FOREIGN KEY(Patient) REFERENCES Patient(SSN),\n  CONSTRAINT fk_Prescribes_Medication_Code FOREIGN KEY(Medication) REFERENCES Medication(Code),\n  CONSTRAINT fk_Prescribes_Appointment_AppointmentID FOREIGN KEY(Appointment) REFERENCES Appointment(AppointmentID)\n)',
  'block': 'CREATE TABLE Block (\n  BlockFloor INTEGER NOT NULL,\n  BlockCode INTEGER NOT NULL,\n  PRIMARY KEY(BlockFloor, BlockCode)\n)',
  'room': 'CREATE TABLE Room (\n  RoomNumber INTEGER PRIMARY KEY NOT NULL,\n  RoomType VARCHAR(30) NOT NULL,\n  BlockFloor INTEGER NOT NULL,  \n  BlockCode INTEGER NOT NULL,  \n  Unavailable BOOLEAN NOT NULL,\n  CONSTRAINT fk_Room_Block_PK FOREIGN KEY(BlockFloor, BlockCode) REFERENCES Block(BlockFloor, BlockCode)\n)',
  'on_call': 'CREATE TABLE On_Call (\n  Nurse INTEGER NOT NULL,\n  BlockFloor INTEGER NOT NULL, \n  BlockCode INTEGER NOT NULL,\n  OnCallStart DATETIME NOT NULL,\n  OnCallEnd DATETIME NOT NULL,\n  PRIMARY KEY(Nurse, BlockFloor, BlockCode, OnCallStart, OnCallEnd),\n  CONSTRAINT fk_OnCall_Nurse_EmployeeID FOREIGN KEY(Nurse) REFERENCES Nurse(EmployeeID),\n  CONSTRAINT fk_OnCall_Block_Floor FOREIGN KEY(BlockFloor, BlockCode) REFERENCES Block(BlockFloor, BlockCode) \n)',
  'stay': 'CREATE TABLE Stay (\n  StayID INTEGER PRIMARY KEY NOT NULL,\n  Patient INTEGER NOT NULL,\n  Room INTEGER NOT NULL,\n  StayStart DATETIME NOT NULL,\n  StayEnd DATETIME NOT NULL,\n  CONSTRAINT fk_Stay_Patient_SSN FOREIGN KEY(Patient) REFERENCES Patient(SSN),\n  CONSTRAINT fk_Stay_Room_Number FOREIGN KEY(Room) REFERENCES Room(RoomNumber)\n)',
  'undergoes': 'CREATE TABLE Undergoes (\n  Patient INTEGER NOT NULL,\n  Procedures INTEGER NOT NULL,\n  Stay INTEGER NOT NULL,\n  DateUndergoes DATETIME NOT NULL,\n  Physician INTEGER NOT NULL,\n  AssistingNurse INTEGER,\n  PRIMARY KEY(Patient, Procedures, Stay, DateUndergoes),\n  CONSTRAINT fk_Undergoes_Patient_SSN FOREIGN KEY(Patient) REFERENCES Patient(SSN),\n  CONSTRAINT fk_Undergoes_Procedures_Code FOREIGN KEY(Procedures) REFERENCES Procedures(Code),\n  CONSTRAINT fk_Undergoes_Stay_StayID FOREIGN KEY(Stay) REFERENCES Stay(StayID),\n  CONSTRAINT fk_Undergoes_Physician_EmployeeID FOREIGN KEY(Physician) REFERENCES Physician(EmployeeID),\n  CONSTRAINT fk_Undergoes_Nurse_EmployeeID FOREIGN KEY(AssistingNurse) REFERENCES Nurse(EmployeeID)\n)'},
 'manufacturer': {'manufacturer': 'CREATE TABLE "manufacturer" (\n    "Manufacturer_ID" int,\n    "Open_Year" real,\n    "Name" text,\n    "Num_of_Factories" int,\n    "Num_of_Shops" int,\n    PRIMARY KEY ("Manufacturer_ID")\n)',
  'furniture': 'CREATE TABLE "furniture" (\n    "Furniture_ID" int,\n    "Name" text,\n    "Num_of_Component" int,\n    "Market_Rate" real,\n    PRIMARY KEY ("Furniture_ID")\n)',
  'furniture_manufacte': 'CREATE TABLE "furniture_manufacte" (\n    "Manufacturer_ID" int,\n    "Furniture_ID" int,\n    "Price_in_Dollar" real,\n    PRIMARY KEY ("Manufacturer_ID","Furniture_ID"),\n    FOREIGN KEY ("Manufacturer_ID") REFERENCES `manufacturer`("Manufacturer_ID"),\n    FOREIGN KEY ("Furniture_ID") REFERENCES `furniture`("Furniture_ID")\n)'},
 'station_weather': {'train': 'CREATE TABLE "train" (\n    "id" int,\n    "train_number" int,\n    "name" text,\n    "origin" text,\n    "destination" text,\n    "time" text,\n    "interval" text,\n    primary key ("id")\n)',
  'station': 'CREATE TABLE "station" (\n    "id" int,\n    "network_name" text,\n    "services" text,\n    "local_authority" text,\n    primary key ("id")\n)',
  'route': 'CREATE TABLE "route" (\n    "train_id" int,\n    "station_id" int,\n    primary key ("train_id", "station_id"),\n    foreign key ("train_id") references `train`("id"),\n    foreign key ("station_id") references `station`("id")\n)',
  'weekly_weather': 'CREATE TABLE "weekly_weather" (\n    "station_id" int,\n    "day_of_week" text,\n    "high_temperature" int,\n    "low_temperature" int,\n    "precipitation" real,\n    "wind_speed_mph" int,\n    primary key ("station_id", "day_of_week"),\n    foreign key ("station_id") references "station"("id")\n)'},
 'perpetrator': {'perpetrator': 'CREATE TABLE "perpetrator" (\n"Perpetrator_ID" int,\n"People_ID" int,\n"Date" text,\n"Year" real,\n"Location" text,\n"Country" text,\n"Killed" int,\n"Injured" int,\nPRIMARY KEY ("Perpetrator_ID"),\nFOREIGN KEY ("People_ID") REFERENCES "people"("People_ID")\n)',
  'people': 'CREATE TABLE "people" (\n"People_ID" int,\n"Name" text,\n"Height" real,\n"Weight" real,\n"Home Town" text,\nPRIMARY KEY ("People_ID")\n)'},
 'soccer_3': {'club': 'CREATE TABLE "club" (\n"Club_ID" int,\n"Name" text,\n"Manager" text,\n"Captain" text,\n"Manufacturer" text,\n"Sponsor" text,\nPRIMARY KEY ("Club_ID")\n)',
  'player': 'CREATE TABLE "player" (\n"Player_ID" real,\n"Name" text,\n"Country" text,\n"Earnings" real,\n"Events_number" int,\n"Wins_count" int,\n"Club_ID" int,\nPRIMARY KEY ("Player_ID"),\nFOREIGN KEY ("Club_ID") REFERENCES "club"("Club_ID")\n)'},
 'storm_record': {'storm': 'CREATE TABLE "storm" (\n"Storm_ID" int,\n"Name" text,\n"Dates_active" text,\n"Max_speed" int,\n"Damage_millions_USD" real,\n"Number_Deaths" int,\nPRIMARY KEY ("Storm_ID")\n)',
  'region': 'CREATE TABLE "region" (\n`Region_id` int,\n`Region_code` text,\n`Region_name` text,\nPRIMARY KEY ("Region_id")\n)',
  'affected_region': 'CREATE TABLE `affected_region` (\n`Region_id` int,\n`Storm_ID` int,\n`Number_city_affected` real,\nPRIMARY KEY (`Region_id`,`Storm_ID`),\nFOREIGN KEY (`Region_id`) REFERENCES `region`(`Region_id`),\nFOREIGN KEY (`Storm_ID`) REFERENCES `storm`(`Storm_ID`)\n)'},
 'flight_1': {'flight': 'CREATE TABLE flight(\n\tflno number(4,0) primary key,\n\torigin varchar2(20),\n\tdestination varchar2(20),\n\tdistance number(6,0),\n\tdeparture_date date,\n\tarrival_date date,\n\tprice number(7,2),\n    aid number(9,0),\n    foreign key("aid") references `aircraft`("aid"))',
  'aircraft': 'CREATE TABLE aircraft(\n\taid number(9,0) primary key,\n\tname varchar2(30),\n\tdistance number(6,0))',
  'employee': 'CREATE TABLE employee(\n\teid number(9,0) primary key,\n\tname varchar2(30),\n\tsalary number(10,2))',
  'certificate': 'CREATE TABLE certificate(\n\teid number(9,0),\n\taid number(9,0),\n\tprimary key(eid,aid),\n\tforeign key("eid") references `employee`("eid"),\n\tforeign key("aid") references `aircraft`("aid"))'},
 'manufactory_1': {'manufacturers': 'CREATE TABLE Manufacturers (\n  Code INTEGER,\n  Name VARCHAR(255) NOT NULL,\n  Headquarter VARCHAR(255) NOT NULL,\n  Founder VARCHAR(255) NOT NULL,\n  Revenue REAL,\n  PRIMARY KEY (Code)   \n)',
  'products': 'CREATE TABLE Products (\n  Code INTEGER,\n  Name VARCHAR(255) NOT NULL ,\n  Price DECIMAL NOT NULL ,\n  Manufacturer INTEGER NOT NULL,\n  PRIMARY KEY (Code), \n  FOREIGN KEY (Manufacturer) REFERENCES Manufacturers(Code)\n)'},
 'cre_Theme_park': {'ref_hotel_star_ratings': 'CREATE TABLE Ref_Hotel_Star_Ratings (\nstar_rating_code CHAR(15) NOT NULL,\nstar_rating_description VARCHAR(80),\nPRIMARY KEY (star_rating_code),\nUNIQUE (star_rating_code)\n)',
  'locations': 'CREATE TABLE Locations (\nLocation_ID INTEGER NOT NULL,\nLocation_Name VARCHAR(255),\nAddress VARCHAR(255),\nOther_Details VARCHAR(255),\nPRIMARY KEY (Location_ID)\n)',
  'ref_attraction_types': 'CREATE TABLE Ref_Attraction_Types (\nAttraction_Type_Code CHAR(15) NOT NULL,\nAttraction_Type_Description VARCHAR(255),\nPRIMARY KEY (Attraction_Type_Code),\nUNIQUE (Attraction_Type_Code)\n)',
  'visitors': 'CREATE TABLE Visitors (\nTourist_ID INTEGER NOT NULL,\nTourist_Details VARCHAR(255),\nPRIMARY KEY (Tourist_ID),\nUNIQUE (Tourist_ID)\n)',
  'features': 'CREATE TABLE Features (\nFeature_ID INTEGER NOT NULL,\nFeature_Details VARCHAR(255),\nPRIMARY KEY (Feature_ID)\n)',
  'hotels': 'CREATE TABLE Hotels (\nhotel_id INTEGER NOT NULL,\nstar_rating_code CHAR(15) NOT NULL,\npets_allowed_yn CHAR(1),\nprice_range real,\nother_hotel_details VARCHAR(255),\nPRIMARY KEY (hotel_id),\nFOREIGN KEY (star_rating_code) REFERENCES Ref_Hotel_Star_Ratings (star_rating_code)\n)',
  'tourist_attractions': 'CREATE TABLE Tourist_Attractions (\nTourist_Attraction_ID INTEGER NOT NULL,\nAttraction_Type_Code CHAR(15) NOT NULL,\nLocation_ID INTEGER NOT NULL,\nHow_to_Get_There VARCHAR(255),\nName VARCHAR(255),\nDescription VARCHAR(255),\nOpening_Hours VARCHAR(255),\nOther_Details VARCHAR(255),\nPRIMARY KEY (Tourist_Attraction_ID),\nFOREIGN KEY (Location_ID) REFERENCES Locations (Location_ID),\nFOREIGN KEY (Attraction_Type_Code) REFERENCES Ref_Attraction_Types (Attraction_Type_Code)\n)',
  'street_markets': 'CREATE TABLE Street_Markets (\nMarket_ID INTEGER NOT NULL,\nMarket_Details VARCHAR(255),\nPRIMARY KEY (Market_ID),\nFOREIGN KEY (Market_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID)\n)',
  'shops': 'CREATE TABLE Shops (\nShop_ID INTEGER NOT NULL,\nShop_Details VARCHAR(255),\nPRIMARY KEY (Shop_ID),\nFOREIGN KEY (Shop_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID)\n)',
  'museums': 'CREATE TABLE Museums (\nMuseum_ID INTEGER NOT NULL,\nMuseum_Details VARCHAR(255),\nPRIMARY KEY (Museum_ID),\nFOREIGN KEY (Museum_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID)\n)',
  'royal_family': 'CREATE TABLE Royal_Family (\nRoyal_Family_ID INTEGER NOT NULL,\nRoyal_Family_Details VARCHAR(255),\nPRIMARY KEY (Royal_Family_ID),\nFOREIGN KEY (Royal_Family_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID)\n)',
  'theme_parks': 'CREATE TABLE Theme_Parks (\nTheme_Park_ID INTEGER NOT NULL,\nTheme_Park_Details VARCHAR(255),\nPRIMARY KEY (Theme_Park_ID),\nFOREIGN KEY (Theme_Park_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID)\n)',
  'visits': 'CREATE TABLE Visits (\nVisit_ID INTEGER NOT NULL,\nTourist_Attraction_ID INTEGER NOT NULL,\nTourist_ID INTEGER NOT NULL,\nVisit_Date DATETIME NOT NULL,\nVisit_Details VARCHAR(40) NOT NULL,\nPRIMARY KEY (Visit_ID),\nFOREIGN KEY (Tourist_Attraction_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID),\nFOREIGN KEY (Tourist_ID) REFERENCES Visitors (Tourist_ID)\n)',
  'photos': 'CREATE TABLE Photos (\nPhoto_ID INTEGER NOT NULL,\nTourist_Attraction_ID INTEGER NOT NULL,\nName VARCHAR(255),\nDescription VARCHAR(255),\nFilename VARCHAR(255),\nOther_Details VARCHAR(255),\nPRIMARY KEY (Photo_ID),\nFOREIGN KEY (Tourist_Attraction_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID)\n)',
  'staff': 'CREATE TABLE Staff (\nStaff_ID INTEGER NOT NULL,\nTourist_Attraction_ID INTEGER NOT NULL,\nName VARCHAR(40),\nOther_Details VARCHAR(255),\nPRIMARY KEY (Staff_ID),\nFOREIGN KEY (Tourist_Attraction_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID)\n)',
  'tourist_attraction_features': 'CREATE TABLE Tourist_Attraction_Features (\nTourist_Attraction_ID INTEGER NOT NULL,\nFeature_ID INTEGER NOT NULL,\nPRIMARY KEY (Tourist_Attraction_ID, Feature_ID),\nFOREIGN KEY (Tourist_Attraction_ID) REFERENCES Tourist_Attractions (Tourist_Attraction_ID),\nFOREIGN KEY (Feature_ID) REFERENCES Features (Feature_ID)\n)'},
 'museum_visit': {'museum': 'CREATE TABLE "museum" (\n"Museum_ID" int,\n"Name" text,\n"Num_of_Staff" int,\n"Open_Year" text,\nPRIMARY KEY ("Museum_ID")\n)',
  'visitor': 'CREATE TABLE "visitor" (\n"ID" int,\n"Name" text,\n"Level_of_membership" int,\n"Age" int,\nPRIMARY KEY ("ID")\n)',
  'visit': 'CREATE TABLE "visit" (\n"Museum_ID" int,\n"visitor_ID" text,\n"Num_of_Ticket" int,\n"Total_spent" real,\nPRIMARY KEY ("Museum_ID","visitor_ID"),\nFOREIGN KEY ("Museum_ID") REFERENCES `museum`("Museum_ID"),\nFOREIGN KEY ("visitor_ID") REFERENCES `visitor`("ID")\n)'},
 'race_track': {'race': 'CREATE TABLE "race" (\n"Race_ID" int,\n"Name" text,\n"Class" text,\n"Date" text,\n"Track_ID" text,\nPRIMARY KEY ("Race_ID"),\nFOREIGN KEY ("Track_ID") REFERENCES "track"("Track_ID")\n)',
  'track': 'CREATE TABLE "track" (\n"Track_ID" int,\n"Name" text,\n"Location" text,\n"Seating" real,\n"Year_Opened" real,\nPRIMARY KEY ("Track_ID")\n)'},
 'soccer_2': {'college': 'CREATE TABLE College \n  ( cName   \tvarchar(20) NOT NULL,\n    state   \tvarchar(2),\n    enr     \tnumeric(5,0),\n    PRIMARY KEY (cName)\n  )',
  'player': 'CREATE TABLE Player\n  ( pID\t\t\tnumeric(5,0) NOT NULL,\n  \tpName   \tvarchar(20),\n    yCard   \tvarchar(3),\n    HS      \tnumeric(5,0),\n    PRIMARY KEY (pID)\n  )',
  'tryout': 'CREATE TABLE Tryout\n  ( pID\t\t\tnumeric(5,0),\n  \tcName   \tvarchar(20),\n    pPos    \tvarchar(8),\n    decision    varchar(3),\n    PRIMARY KEY (pID, cName),\n    FOREIGN KEY (pID) REFERENCES Player(pID),\n    FOREIGN KEY (cName) REFERENCES College(cName)\n  )'},
 'bike_1': {'station': 'CREATE TABLE station (\n    id INTEGER PRIMARY KEY,\n    name TEXT,\n    lat NUMERIC,\n    long NUMERIC,\n    dock_count INTEGER,\n    city TEXT,\n    installation_date TEXT)',

### Parse queries

In [31]:
import re
from typing import List, Set

import sqlglot
from sqlglot import exp


def extract_tables(sql: str) -> List[str]:
    """
    Parse the given SQL and return a sorted list of all
    real table names referenced (joins, subqueries, CTE bodies, etc.),
    but *exclude* any CTE aliases.
    """
    # 1) Pull out the CTE block (if any) and collect its aliases
    cte_names: Set[str] = set()
    match = re.search(
        r"WITH\s+(.*?)\)\s*SELECT",
        sql,
        flags=re.IGNORECASE | re.DOTALL,
    )
    if match:
        cte_block = match.group(1)
        # find all "<name> AS (" inside that block
        found = re.findall(
            r"([A-Za-z_][A-Za-z0-9_]*)\s+AS\b", cte_block, flags=re.IGNORECASE
        )
        cte_names = set(found)

    # 2) Parse into an AST
    try:
        tree = sqlglot.parse_one(sql)
    except sqlglot.errors.ParseError as e:
        raise ValueError(f"Failed to parse SQL: {e}")

    # 3) Walk every Table node and collect its .this (the table identifier),
    #    unless itâ€™s one of the CTE names we just saw.
    tables: Set[str] = set()
    for tbl in tree.find_all(exp.Table):
        name = tbl.name  # e.g. 'sales', 'customers', 'archived_sales'
        if name not in cte_names:
            tables.add(name)

    return sorted(tables)


def lookup_schemas(row):
    db = row.db_id
    tables = row.tables  # list of table names
    db_map = schemas_map.get(db, {})
    # collect schema for each table, skip if not found
    return [db_map.get(tbl.lower(), f"<no schema for {tbl}>") for tbl in tables]

In [32]:
import pandas as pd

df = pd.read_json(query_file_path)
df = (
    df.assign(
        question_number=df.index,
        tables=lambda df_: df_["query"].apply(extract_tables),
    )
    .assign(
        schemas=lambda df_: df_.apply(lookup_schemas, axis=1),
    )
    .loc[:, ["question_number", "question", "db_id", "tables", "schemas"]]
)
df

,question_number,question,db_id,tables,schemas
0,0,How many clubs are there?,soccer_3,[club],"[CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name""..."
1,1,Count the number of clubs.,soccer_3,[club],"[CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name""..."
2,2,List the name of clubs in ascending alphabetic...,soccer_3,[club],"[CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name""..."
3,3,"What are the names of clubs, ordered alphabeti...",soccer_3,[club],"[CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name""..."
4,4,What are the managers and captains of clubs?,soccer_3,[club],"[CREATE TABLE ""club"" (\n""Club_ID"" int,\n""Name""..."
...,...,...,...,...,...
2142,2142,Return the ids and details of staff who have a...,advertising_agencies,[staff],[CREATE TABLE `Staff` (\n`staff_id` INTEGER PR...
2143,2143,"What are the id, sic code and agency id of the...",advertising_agencies,"[clients, invoices, meetings]",[CREATE TABLE `Clients` (\n`client_id` INTEGER...
2144,2144,"Return the ids, sic codes, and agency ids of c...",advertising_agencies,"[clients, invoices, meetings]",[CREATE TABLE `Clients` (\n`client_id` INTEGER...
2145,2145,"List the start time, end time of each meeting,...",advertising_agencies,"[clients, meetings, staff, staff_in_meetings]",[CREATE TABLE `Clients` (\n`client_id` INTEGER...
2146,2146,What are the start and end times of each meeti...,advertising_agencies,"[clients, meetings, staff, staff_in_meetings]",[CREATE TABLE `Clients` (\n`client_id` INTEGER...

In [33]:
df.to_csv(final_result_path, index=False)